#banner-sec {
  margin-top: 50px;
  .carousel-item.active {
    height: 600px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 600px;
  }
}

#ls-sec {
  .header-ls {
    font-family: $sub-font;
    color: $text-color-2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    #sort-btn {
      width: 180px;
      background-color: $btn-color-2;
      color: $text-color-1;
      font-size: 14px;
    }
    a.dropdown-item.sort-option {
      font-size: 14px;
    }
    .sort {
      display: flex;
      align-items: center;
      div:first-child {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
    }
    .cate-tag {
      font-weight: bold;
      font-size: 46px;
    }
  }
}

.list {
    margin-top: 10px;
}

@keyframes slide{
    0% {
        top: 150px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.ls {
  .row:not(:first-child) {
    margin-top: 40px;
  }
}

.ls:before {
  content: " ";
  border: 1px solid $line-color;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: -20px;
}

.categories {
  a {
    font-size: 28px;
    font-weight: bold;
    font-family: $sub-font;
  }
  ul li a{
    font-size: 18px;
    font-weight: 400;
  }
}

.descrip {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
  }
  .descrip-txt {
      position: absolute;
      top: 0px;
      background-color: #5e6d6dde;
      bottom: 0;
      left: 0px;
      right: 0px;
      border-radius: 25px;
      padding: 20px;
      opacity: 0;
      overflow: hidden;
      color: $text-color-1;
      font-family: $main-font;
  }
  .descrip-txt:hover{
      animation-name: slide;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
  }
}

.recipe-card, .contest-card {
  color: $text-color-2;
  font-family: $sub-font;
  h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 15px;
  }
}

.recipe-card {
  .info {
    margin-top: 10px;
  }
}

.info, .author, .like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.author img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.like img {
  width: 25px;
  margin-left: 10px;
}

.contest-card .date {
  font-size: 16px;
}

.page {
  display: flex;
  justify-content: center;
  border: none;
  font-family: $sub-font;
  font-weight: bold;
  a.page-link {
    border: none;
    color: $text-color-3;
  }
  ul.pagination {
    margin-left: 275px;
  }
}
