#detail-sec, #recipe-form-sec {
  margin-top: 50px;
  color: $text-color-2;
  .author, .like {
    justify-content: flex-start;
  }
  .author {
    margin-bottom: 20px;
  }
  h1 {
    font-family: $sub-font;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &:after {
      content: "";
      border: 2px solid $line-color;
      width: 40%;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
  .short-des {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .carousel-item.active {
    height: 600px;
  }
  .slide img {
    object-fit: cover;
    width: 100%;
    height: 600px;
  }
  .row:last-child {
    margin-top: 30px;
  }
  .ingre div:first-child, .cook div:first-child {
    font-family: $sub-font;
    font-weight: bold;
    font-size: 40px;
  }
  .ingre, .cook {
    font-size: 18px;
  }
  .step {
    margin-bottom: 30px;
    & div:first-child {
      font-size: 24px;
    }
    & div:nth-child(2) {
      margin-bottom: 10px;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
  ul li {
    list-style: decimal;
  }
}

#comment-sec {
  color: $text-color-2;
  margin-top: 30px;
  .cmt-head {
    font-family: $sub-font;
    font-weight: bold;
    font-size: 46px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &:after {
      content: "";
        border: 2px solid #e18574;
        width: 400px;
        position: absolute;
        bottom: 0px;
        align-items: center;
        place-items: center;
    }
  }
  .author {
    justify-content: flex-start;
  }
}

.comment-form {
  width: 60%;
  margin: auto;
  box-shadow: 0px -1px 20px 15px #00000026;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 30px;
  .author {
    margin-bottom: 10px;
  }
  form {
    width: 90%;
    margin: auto;
  }
  button {
    width: 100%;
    color: $text-color-1;
    background-color: $btn-color-3;
  }
  textarea {
    background-color: $input-color-2;
    border: none;
  }
}

.cmt {
  width: 60%;
  margin: auto;
  box-shadow: 0px -1px 20px 5px #00000026;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 15px;
  .author {
    margin-bottom: 10px;
  }
  .comment-txt {
    width: 90%;
    margin: auto;
    position: relative;
    &:after {
      content: " ";
      border: 1px solid $line-color;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
    }
  }
}

.btn-show-more {
  width: 100%;
  display: flex;
  button {
    margin: auto;
    color: $text-color-1;
    background-color: $btn-color-3;
  }
}

#recipe-form-sec {
  .btn-remove-step, .btn-remove-ingre {
    background-color: #e66767;
    font-size: 20px;
    color: $text-color-1;
  }
  .btn-add-ingre, .btn-more-step {
    color: $text-color-1;
    background-color: $btn-color-3;
  }
  .add-ingre {
    display: flex;
    width: 90%;
    justify-content: space-between;
    input {
      width: 80%;
    }
  }
  .post-btn {
    display: flex;
    margin-top: 50px;
    button {
      color: $text-color-1;
      background-color: $btn-color-3;
      margin: auto;
    }
  }
}
