$back-ground-color:      #FDFCFC;
$overlay-bg-color:       #5E6D6D;
$form-bg-color:          #F4F2F2;
$header-bg-color:        #E18574;
$footer-bg-color:        #E18574;

$text-color-1:           #F4F2F2;
$text-color-2:           #5E6D6D;
$text-color-3:           #E18574;

$input-color-1:          #F4F2F2;
$input-color-2:          #E7D8D5;

$high-light:             #E18574;
$line-color:             #E18574;

$btn-color-1:            #F4F2F2;
$btn-color-2:            #5E6D6D;
$btn-color-3:            #E18574;

$main-font:              'Cairo', sans-serif;
$sub-font:               'Manrope', sans-serif;
